@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&family=Manrope:wght@800&family=Poppins:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .header-text {
    @apply font-extrabold text-base md:text-lg tracking-wide leading-7;
  }
  .text {
    @apply font-semibold  text-xs md:text-sm tracking-wide leading-7;
  }
}

* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}
